:root {

    --light-bg: #f5f5f5;
    --dark-bg: #122c34;
    --bg-colour: var(--light-bg);
    --header-bg-colour: var(--dark-bg);
    --header-text-colour: var(--light-bg);
    --text-colour: var(--light-bg);
    --primary: #003587;
    --secondary: #0086c2;

    --text-size: 14px;
    --text-spacing: 1px;
    --icon-filter: brightness(120%); /* default is white */

}

/* navbar modifictions */

.navbar-nav {
    background-color: var(--light-bg) !important;
    position:absolute;
    z-index: 9;
    padding: 0.5rem;
}

.navbar {
    background-color: var(--light-bg) !important;
}

/* head and body */

head {

    background-color: var(--header-bg-colour);
    color: var(--header-text-colour);
    height: 10rem;

}

body {

    background-color:  var(--bg-colour);
    color: var(--text-colour);
    font-size: var(--text-size);
    letter-spacing: var(--text-spacing);

}

/* elements */

.z_container {

    position: relative;
    width: 100%;

}

.box_lower {

    position: absolute; /* https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
    left: 50%; /* https://thoughtbot.com/blog/positioning */
    margin-left: -50px; /* https://thoughtbot.com/blog/positioning */
    height: 7rem;

}

.navbar {

    height: 8vh;

}

.sidebar {

    width: 25rem;
    right: 0;
    position: absolute; /* https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
    background-color: white;
    padding: 1rem;
    height: 92vh; /* https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
    display: none; /* default to off */

}

.static_colour_black {

    color: black !important;

}

.sidebar_btn {

    float:right;
    position: absolute;
    right: 25rem;
    height: 2rem;

    margin-right: -24rem; /* default to off */

    margin-top: 50vh;

    filter: var(--icon-filter);

}

.element_box {

    padding: 1rem;
    padding-top: 7rem;

}

/* buttons */

.btn-primary {

    background-color: var(--primary);
    color: var(--light-bg);

}

.btn-secondary {

    background-color: var(--secondary);
    color: var(--light-bg);

}